@model Curso

@{
    ViewData["Title"] = "Creacion del Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<form method="post">


    @*Esto es para que me muestre todas las validaciones *@
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
    </div>

    <div>
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" />
    </div>

    <div>
        <label asp-for="Jornada"></label>

        @*Esto es un Html Heleper para utilizar y llenar un select con un Enumerable*@
        @Html.DropDownList("Jornada", Html.GetEnumSelectList<TiposJornada>(), "Selecione Jornada", new { @class = "form-control" })

    </div>


    <input type="submit" />
</form>

<p><i>@ViewBag.Fecha</i></p>