@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>

@*@foreach(var alumno in Model)
{
    <partial name="ObjetoEscuelaBase" model="alumno"/>
}*@
<div class="row">
    
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model)
            {
                @*<partial name="ObjetoEscuelaBase" model="alumno" />*@
                <tr>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.UniqueId</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p><i>@ViewBag.Fecha</i></p>